/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@font-face {
  font-family: "Track";
  src: url("/assets/Track.ttf") format("truetype")
}

h1, h2, h3 {
  color: #337ab7;
  font-family: "Track";
  text-align: center;
}

img {
  padding-left: 270px;
}*/



/*ADDED FOR NAV BAR*/
.col1 {
  text-align: center;
  float: left;
  width: 16%;
  position: relative;
  left: 82%;
  overflow: hidden;
}

.col2 {
  text-align: center;
  float: left;
  width: 16%;
  position: relative;
  left: 86%;
  overflow: hidden;
}
.col3 {
  text-align: center;
  text-align: center;
  float: left;
  width: 16%;
  position: relative;
  left: 90%;
  overflow: hidden;
}
.col4 {
  text-align: center;
  float: left;
  width: 16%;
  position: relative;
  left: 94%;
  overflow: hidden;
}
.col5 {
  text-align: center;
  float: left;
  width: 16%;
  position: relative;
  left: 98%;
  overflow: hidden;
}

.container5 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}
.container4 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 20%;
}
.container3 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 20%;
}
.container2 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 20%;
}
.container1 {
  float: left;
  width: 100%;
  position: relative;
  right: 20%;
}
/*END OF NAV BAR*/