/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.user-color{
  color: #334959;  
}
/*.project-image {
  height: 300px;
  width: 400px;
}*/

.masonry-images-margin{
  /*width: 83%;*/
  margin: auto;
}

/* ------------------------------ fonts -------------------------- */
@font-face {
  font-family: "Track";
  src: url("/assets/Track.ttf") format("truetype")
}
a {
  color: #509B9E;
}

a:hover { 
  color: #52CCBA;
}

h1.logo {
  color: #509B9E;
  font-family: "Track";
  text-align: center;
}
h1, h2, h3, h4, h5 {
  font-family: "Track";
}

h3.homepage {
  text-align: center;
  color: #334959;
}

.color {
  background-color: #67C4B0;
}
.search-bar {
  color: #334959;
  font-family: "Track";
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* ------------------------------ misc -------------------------- */


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; 
}


/* ------------------------------ nav menu -------------------------- */
.main-nav a{
  color: #000;
}

ul.nav-list {
  list-style-type: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0 2em;
  font-weight: 300;
  color: #FFF;
}
ul.nav-list li{
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  height: auto;
}
ul.nav-list li.active a span{
  background-color: #000;
  color: #FFF;
}

ul.nav-list li a {
  text-transform: uppercase;
}
a.nav-brand {
  border: 2px solid #000;
  font-size: 38px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 250px;
  font-weight: 300;
  line-height: 46px;
  cursor: pointer;
  color: #000;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a.nav-brand span {
  font-weight: 700;
}
a.nav-brand:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}
.cart {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-header {
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
  
}
.nav-header h1{
  margin-top: 5px 0 0 0;
  margin-bottom: 0px;
}
.nav-header .badge {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  background-color: #67C4B0;
}
a.nav-icon, a.nav-icon-outline{
  background-color:#000 ;
  border: 2px solid #000;
  display:block;
  color:#FFF;
  font-size: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align:center;
  border-radius:50%;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: 15px;
}
a.nav-icon-outline {
  background-color: #FFF;
  border-color: #000;
  color: #000;
}

a.nav-icon:hover {
  color:#000;
  background:#FFF;
  text-decoration: none;
  border-color: #000;
}
a.nav-icon-outline:hover{
  color:#FFF;
  background-color:#000;
  text-decoration: none;
  border-color: #000;
}

/* mobile */
#wrap{
  position: relative;
  backface-visibility: hidden;
  min-height: 100%;
  min-width: 100%;
  z-index: 1030;
  background-color: #FFF;
  top: 0;
  bottom: 100%;
  left: 0;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-open{
  -webkit-transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translateX(-240px);
  -o-transform: translate(-240px, 0);
  transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
  overflow: hidden; 
}

a.close-menu:hover {
  color: #67C4B0;
  text-decoration: none;
}

/* ------------------------------ social links -------------------------- */
.social-links,
.social-profiles {
  list-style:none;
  margin: 8px 0 0 0;
  padding:0;
  margin-right: -9px;
}
.social-links li,
.social-profiles li{
  display:inline-block;
  margin: 0 9px 0 9px;
  border-radius:3px;
  box-shadow:0 4px 0 transparent;

}
.social-links li a {
  background: transparent;
  border: 2px solid #000;
  display:block;
  color:#000;
  font-size: 16px;
  width: 41px;
  height: 41px;
  line-height: 40px;
  text-align:center;
  border-radius:50%;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.social-links li a i{
  
}
.social-links li a:hover {
  color:#FFF;
  background:#000;
  text-decoration: none;
  border-color: #000;
}

/* ------------------------------ footer -------------------------- */

.copyright ul.nav-list {
  /* float: left; */
  margin: 0 0 0 -5px;
  padding: 0;
}

.copyright ul.nav-list li {
  margin-left: 0;
}





/* ------------------------------ link effect -------------------------- */

.menu-wrapper {
  position: relative;
  font-weight: 300;
}
.menu-wrapper h3 {
  color: #FFF;
  /*font-weight: 400;*/
  margin-left: 20px;
  margin-top: 18px;
  text-transform: uppercase;
  font-size: 22px;
}
.effect a {
  position: relative;
  color: #000;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  padding: 0 5px;
  background: transparent;
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  transition:all .3s ease-out;
}
.effect a:hover,
.effect a:focus,
.effect li.active a{
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}

.mt-info {
  padding-left: 20px;
}
.mt-info h3 {
  /*font-weight: 400;*/
  color: #FFF;
  margin-left: 0;
}
.mt-info ul {
  list-style-type: none;
  margin: 20px 0 35px 0;
  padding-left: 0;
  /*margin-bottom: 35px;*/
}
.mt-info ul li{
  font-size: 16px;
  margin-bottom: 15px;
}
.mt-info ul li a{
  font-weight: 300;
}
.mt-info .btn{
  margin-left: 2px;
  margin-bottom: 30px;
}

.fa {
  color: #AAA;
}

.selected {
  color: #334959;
}



img {
  z-index: 1;
}


